<a href="https://colab.research.google.com/github/Bhaskarnainwal/conditions/blob/main/Untitled13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
#assign statement
x=3
print(1+1)
print(len("hello team"))
a='mighgty'
#import statement
import pandas as pd
print(y)
my_list=[1]
my_tuple=(1,)
my_list,my_tuple
a=(1+2+3+4+5+6)
atype(a)
a=1
b=2
completions_sorting_key
c=3
a=1;b=2;c=3
a=1
b=2
c=3
a,b,c=[1,'a', true](45,67), {'name':'vikash','Age':27 }
#this is a comment
#print('hello')
print('hello')
a=2
b=1
                           #if (b>a):
                           #a=5
                           #b=5 a,b=1,2
if a<b :
  if case1:
    perform action1
    elif case2:
      perform action 2
      else:
        perform action3
i=4
if i==2:
  print(2)
else i==3:
  print(3)
  else:
    print('not 2 and 3')
if x==30:
  printx is greater than 10!
  print(f'x is {x}')
x==20
if false:
  print('it was true')
#consider the following statement
if false:
  print("what do u say")
else:
  print("i have nouthing to say")
if [none]:
  print("well i had a really bad day")
else:
  print("come on u")
if{1:2,2:3}:
  print("this is true ")
else:
  print("this is false")

SyntaxError: invalid syntax (<ipython-input-14-46d863d598a3>, line 33)